@import '../../../styles/variables.css';

.container {
    max-width: var(--max-form-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
}

.title {
    text-align: center;
    margin-bottom: var(--spacing-medium);
    font-weight: bold;
}

.form {
    max-width: var(--max-form-width);
    margin: 0 auto;
    padding: var(--spacing-medium);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    text-align: center;
}

.label {
    display: block;
    text-align: left;
    margin-bottom: var(--spacing-small);
    font-weight: bold;
}

.input {
    width: 100%;
    height: var(--input-height);
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-small);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.button {
    width: 100%;
    height: var(--input-height);
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing);
    margin-top: var(--spacing-medium);
}

.button:hover {
    background-color: var(--primary-color);
}

.button:disabled {
    background-color: var(--quaternary);
}