@import '../../../styles/variables.css'; /* Импортируем файл с переменными */

/* Стили для формы */
.form {
    max-width: 200px;
    margin: 0 auto;
    padding: var(--spacing-small);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
}

/* Стили для инпутов */
.input {
    width: 100%;
    height: var(--input-height);
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-small);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box; /* Учет границ и отступов */
}

/* Стили для кнопки */
.button {
    width: 100%;
    height: var(--input-height);
    /*padding: var(--spacing-medium);*/
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing);
}

/* Стили для заблокированной кнопки */
.button:disabled {
    background-color: var(--quaternary);
}

/* Стили для ошибок */
.error {
    color: var(--error-color);
    font-size: var(--font-size-small);
}
